en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.5.0/en_core_web_lg-3.5.0-py3-none-any.whl
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
#googletrans==4.0.0rc1
httpx==0.13.3
numpy==1.21.1
pandas==1.5.3
#python-socketio==5.3.0
scipy==1.10.1 
sentence-transformers==2.2.2
sentencepiece==0.1.97
spacy==3.5.1
spacyfishing==0.1.8
transformers==4.27.3
